/* Universal Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* Sign Up Form */

.signUpForm {
    height: 100vh;
}

/* Banner Image */

/* .bannerImg img {
    text-align: right;
    height: 100%;
    width: auto;
    object-fit: cover;
    background-size: cover;
    display: block;
} */

.bannerImg {
    /* width: 50%; */
    height: 100vh;
    overflow: hidden;
}

.bannerImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}