/* Universal Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* Sign Up Form */

.signUpForm {
    width: 50%;
}

.signInForm {
    width: 50%;
}

/* Banner Image */

/* .bannerImg img {
    text-align: right;
    height: 100%;
    width: auto;
    object-fit: cover;
    background-size: cover;
    display: block;
} */

.signIn {
    display: flex;
    width: 100%;
    height: 100%;
}


.bannerImg {
    /* width: 50%; */
    height: 100vh;
    overflow: hidden;
}

.bannerImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.usernameEmail {
    display: flex;
}

.password {
    display: block;
}

.emailInput, .passwordInput, .confirmPasswordInput {
    padding: 15px 380px 15px 20px;
}

.signUpBtn {
    padding: 15px 260px 15px 260px !important;
}

.termsAndPrivacy {
    margin-left: 115px;
}

.suggestSignIn {
    margin-left: 178px;
}

.suggestSignUp {
    margin-left: 135px;
}

/* Responsive */

@media screen and (max-width: 850px) {

    .signIn {
        display: block;
        width: 100%;
    }

    .signUpForm {
        width: 100%;
    }

    .signInForm {
        width: 100%;
    }

    .bannerImg {
        display: none;
        width: 100%;
    }

}

@media screen and (max-width: 550px) {

    .usernameEmail {
        display: block;
    }

    .emailInput, .passwordInput, .confirmPasswordInput {
        padding: 15px 80px 15px 20px;
    }

    .signUpBtn, .signInBtn {
        padding: 15px 100px 15px 100px !important;
    }
    
    .termsAndPrivacy {
        margin-left: 0;
    }

    .suggestSignIn {
        margin-left: 0;
    }

    .suggestSignUp {
        margin-left: 0;
    }

}