/* Universal Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* Sign Up Form */

.signUpForm {
    width: 50%;
}

.signInForm {
    width: 50%;
}

/* Banner Image */

/* .bannerImg img {
    text-align: right;
    height: 100%;
    width: auto;
    object-fit: cover;
    background-size: cover;
    display: block;
} */

.signIn {
    display: flex;
    width: 100%;
    height: 100%;
}


.bannerImg {
    /* width: 50%; */
    height: 100vh;
    overflow: hidden;
}

.bannerImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive */

@media screen and (max-width: 850px) {

    .signIn {
        display: block;
        width: 100%;
    }

    .signUpForm {
        width: 100%;
    }

    .signInForm {
        width: 100%;
    }

    .bannerImg {
        display: none;
        width: 100%;
    }

}