<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Client - TB Booking</title>

    <!-- Link Css -->

    <link rel="stylesheet" href="../style/admin.css" />

    <!-- Link Bootstrap -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <div class="row" style="background-color: #f0f0f0">
      <!-- Title & menu (Col 1) -->

      <div
        style="height: 100vh; width: 21%"
        class="bg-white col-md-3 rounded ps-5"
      >
        <!-- Title -->
        <div class="ms-5" style="margin-top: 80px">
          <h1 class="text-primary">Store Manager</h1>
        </div>

        <!-- Menu (Navbar) -->

        <div class="ms-3 menu" style="margin-top: 80px">
          <ul style="list-style: none">
            <li class="mt-4">
              <a
                href="./adminProduct.html"
                class="text-decoration-none fs-5"
                ><i class="bi bi-bucket me-2"></i>Sản phẩm</a>
            </li>
            <li class="mt-4">
              <a 
                href="./adminClient.html"
                style="background-color: #cbdceb; color: #004683"
                class="text-decoration-none fs-5 px-3 py-3 rounded"
                ><i class="bi bi-people me-2"></i>Khách hàng</a
              >
            </li>
            <li class="mt-4">
              <a 
                href="./adminSupplier.html" 
                class="text-decoration-none fs-5"
                ><i class="bi bi-person me-2"></i>Nhà cung cấp</a
              >
            </li>
          </ul>
        </div>
      </div>

      <!-- Navbar & Client (Col 2) -->

      <div style="padding: 0; width: 79%" class="col-md-9">
        <!-- Navbar -->

        <div class="rounded bg-white" style="margin: 0">
          <!-- User Button -->

          <div class="text-end py-2 pe-4">
            <div class="userIcon position-relative d-inline-block">
              <i class="bi bi-person-circle text-end fs-1"></i>

              <!-- Dropdown Content -->
              <div class="dropdownContent position-absolute border">
                <ul class="text-decoration-none text-black">
                  <li style="list-style: none">
                    <a class="btn-danger btn" href="../view/signIn.html"
                      >Sign out</a
                    >
                  </li>

                  <li class="mt-2" style="list-style: none">
                    <a class="btn btn-primary" href="#">Thêm sản phẩm</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Manage Client -->

        <div class="bg-white m-3 rounded" style="height: 90%">
          <!-- Title -->

          <div class="pt-5 container">
            <p class="fs-2 fw-bold">Quản lý khách hàng</p>
          </div>

          <!-- Search Bar -->

          <div class="container mt-5 d-flex">
            <input
              type="text"
              placeholder="Search..."
              class="py-2 px-2 border-1 rounded"
              style="width: 400px"
            />
            <button class="px-3 rounded-right border-0 btn btn-primary">
              <i class="bi bi-search me-2"></i>Tìm kiếm
            </button>
          </div>

          <!-- Client -->

          <div
            class="container rounded mt-3"
            style="background-color: rgb(240, 240, 240)"
          >
            <!-- Item -->

            <div class="py-3 d-flex position-relative">

              <!-- Title -->

              <div class="d-flex position ms-5" style="gap: 80px">
                <!-- Client name -->
                <div>
                  <p class="fs-5 fw-bold">Tên khách hàng</p>
                </div>

              </div>

              <div class="d-flex" style="gap: 70px; margin-left: 80px">

                <!-- Client category -->
                <div>
                  <p class="fs-5 fw-bold">Thao tác</p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Link Bootstrap -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>

    <!-- Link Js -->

    <script src="../scr/adminClient.js"></script>
  </body>
</html>
