<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main - TB Booking</title>

    <!-- Link Bootstrap -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />

    <!-- Link Swiper -->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <!-- Link css -->

    <link rel="stylesheet" href="../style/clientMain.css" />

  </head>
  <body>

    <!-- Header -->

    <header>

        <div class="headTBBooking text-center mt-3">

            <!-- Div 1 (Title) -->

            <div class="ms-5 mt-3 d-flex">
                
                <h1 class="title mt-2 fs-2 fw-bold text-primary"><a href="./clientMain.html" class="text-decoration-none">TB Booking</a></h1>

                <!-- Navbar -->

                <div class="text-center mt-3 navbarHead">
                    <ul class="d-flex gap-4">
                        <a href="#" class="text-decoration-none text-black">
                        <li class="list-inline-item">Tour</li>
                        </a>
                        <a href="#" class="text-decoration-none text-black">
                            <li class="list-inline-item">Khách sạn</li>
                        </a>
                
                        <a href="#" class="text-decoration-none text-black">
                            <li class="list-inline-item">Nghỉ dưỡng</li>
                        </a>
                        <a href="#" class="text-decoration-none text-black">
                            <li class="list-inline-item">Esim</li>
                        </a>
                    </ul>
                </div>

            </div>

            <!-- Div 2 (Search Bar) -->

            <div class="mt-4 searchBar">
                <input type="text" placeholder="Search..." class="py-1 ps-2 px-5">
                <button class="border-0 px-0 py-0 pe-2 btn btn-secondary">
                    <i class="bi bi-search ms-2 fs-4"></i>
                </button>
            </div>

            <!-- Div 2 (Navbar) -->

            <div class="mt-4">
                <ul class="d-flex gap-3">
                    <li class="list-inline-item">
                        <button class="btn border-2 border-secondary signInBtn">Đăng Nhập</button>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn btn-primary signInBtn px-3">Đăng Ký</button>
                    </li>
                </ul>
            </div>

        </div>

    </header>

    <!-- Main -->

        <!-- Carousel -->

    <div id="carouselTbBooking" class="carousel slide">

        <!-- Carousel Button -->

        <div class="carousel-indicators">

            <!-- Carousel Button 1 -->
            <button type="button" data-bs-target="#carouselTbBooking" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>

            <!-- Carousel Button 2 -->
            <button type="button" data-bs-target="#carouselTbBooking" data-bs-slide-to="1" aria-label="Slide 2"></button>

            <!-- Carousel Button 3 -->
            <button type="button" data-bs-target="#carouselTbBooking" data-bs-slide-to="2" aria-label="Slide 3"></button>

            <!-- Carousel Button 4 -->
            <button type="button" data-bs-target="#carouselTbBooking" data-bs-slide="3" aria-label="Slide 4"></button>

        </div>

        <!-- Carousel Image -->

        <div class="carousel-inner">

            <!-- Image 1 -->
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="../image/carouselImg1.png" alt="Carousel Image 1" class="d-block w-100">
            </div>

            <!-- Image 2 -->
            <div class="carousel-item" data-bs-interval="8000">
                <img src="../image/carouselImg2.png" alt="Carousel Image 2" class="d-block w-100">
            </div>

            <!-- Image 3 -->
            <div class="carousel-item" data-bs-interval="6000">
                <img src="../image/carouselImg3.png" alt="Carousel Image 3" class="d-block w-100">
            </div>

            <!-- Image 4 -->
            <div class="carousel-item" data-bs-interval="4000">
                <img src="../image/carouselImg4.png" alt="Carousel Image 4" class="d-block w-100">
            </div>

        </div>

        <!-- Button Chuyển Trang Carousel -->

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselTbBooking" data-bs-slide="prev">
            <span class="carousel-control prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselTbBooking" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>

    <!-- Suggest Place In Vietnam -->

    <div class="container mt-5">

        <!-- Title -->

        <div>
            <p class="fs-3 fw-bold">Du lịch trong nước! 🔥</p>
        </div>

        <!-- Swiper Container -->

        <swiper-container class="travelInCountryList" loop="true">

            <!-- Item 1 -->
            <swiper-slide>
                <a href="#" class="text-decoration-none text-black">
                    <img src="../image/suggestImg1.png" class="rounded" alt="HO CHI MINH CITY SUGGEST IMAGE" style="width: 420px; height: 250px;">
                    <p class="text-center mt-2 fw-bold fs-5">Hồ Chí Minh</p>
                </a>
            </swiper-slide>

            <!-- Item 2 -->
            <swiper-slide>
                <a href="#" class="text-decoration-none text-black">
                    <img src="../image/suggestImg2.png" class="rounded" alt="HO NOI SUGGEST IMAGE" style="width: 420px; height: 250px;">
                    <p class="text-center mt-2 fw-bold fs-5">Hà Nội</p>
                </a>
            </swiper-slide>

            <!-- Item 3 -->
            <swiper-slide>
                <a href="#" class="text-decoration-none text-black">
                    <img src="../image/suggestImg3.png" class="rounded" alt="VUNG TAU SUGGEST IMAGE" style="width: 420px; height: 250px;">
                    <p class="text-center mt-2 fw-bold fs-5">Vũng Tàu</p>
                </a>
            </swiper-slide>

            <!-- Item 4 -->
            <swiper-slide>
                <a href="#" class="text-decoration-none text-black">
                    <img src="../image/suggestImg4.png" class="rounded" alt="DA NANG SUGGEST IMAGE" style="width: 420px; height: 250px;">
                    <p class="text-center mt-2 fw-bold fs-5">Đà Nẵng</p>
                </a>
            </swiper-slide>

            <!-- Item 5 -->
            <swiper-slide>
                <a href="#" class="text-decoration-none text-black">
                    <img src="../image/suggestImg5.png" class="rounded" alt="DA LAT SUGGEST IMAGE" style="width: 420px; height: 250px;">
                    <p class="text-center mt-2 fw-bold fs-5">Đà Lạt</p>
                </a>
            </swiper-slide>

        </swiper-container>

    </div>

    <!-- Suggest Overseas -->

    <div class="container mt-5">

        <!-- Title -->

        <div>
            <p class="fs-3 fw-bold">Du lịch ngoài nước! 😊</p>
        </div>

        <!-- Swiper Container -->

        <swiper-container class="travelOverseasList" loop="true">

            <!-- Item 1 -->
            <swiper-slide>
                <a href="#" class="text-decoration-none text-black">
                    <img src="../image/suggestOverseasImg1.png" class="rounded" alt="HO CHI MINH CITY SUGGEST IMAGE" style="width: 420px; height: 250px;">
                    <p class="text-center mt-2 fw-bold fs-5">Tokyo</p>
                </a>
            </swiper-slide>

            <!-- Item 2 -->
            <swiper-slide>
                <a href="#" class="text-decoration-none text-black">
                    <img src="../image/suggestOverseasImg2.png" class="rounded" alt="HO CHI MINH CITY SUGGEST IMAGE" style="width: 420px; height: 250px;">
                    <p class="text-center mt-2 fw-bold fs-5">Yokohama</p>
                </a>
            </swiper-slide>

            <!-- Item 3 -->
            <swiper-slide>
                <a href="#" class="text-decoration-none text-black">
                    <img src="../image/suggestOverseasImg3.png" class="rounded" alt="HO CHI MINH CITY SUGGEST IMAGE" style="width: 420px; height: 250px;">
                    <p class="text-center mt-2 fw-bold fs-5">Bangkok</p>
                </a>
            </swiper-slide>

            <!-- Item 4 -->
            <swiper-slide>
                <a href="#" class="text-decoration-none text-black">
                    <img src="../image/suggestOverseasImg4.png" class="rounded" alt="HO CHI MINH CITY SUGGEST IMAGE" style="width: 420px; height: 250px;">
                    <p class="text-center mt-2 fw-bold fs-5">Nagoya</p>
                </a>
            </swiper-slide>

            <!-- Item 5 -->
            <swiper-slide>
                <a href="#" class="text-decoration-none text-black">
                    <img src="../image/suggestOverseasImg5.png" class="rounded" alt="HO CHI MINH CITY SUGGEST IMAGE" style="width: 420px; height: 250px;">
                    <p class="text-center mt-2 fw-bold fs-5">Kyoto</p>
                </a>
            </swiper-slide>

            <!-- Item 6 -->
            <swiper-slide>
                <a href="#" class="text-decoration-none text-black">
                    <img src="../image/suggestOverseasImg6.png" class="rounded" alt="HO CHI MINH CITY SUGGEST IMAGE" style="width: 420px; height: 250px;">
                    <p class="text-center mt-2 fw-bold fs-5">Singapore</p>
                </a>
            </swiper-slide>

            <!-- Item 7 -->
            <swiper-slide>
                <a href="#" class="text-decoration-none text-black">
                    <img src="../image/suggestOverseasImg7.png" class="rounded" alt="HO CHI MINH CITY SUGGEST IMAGE" style="width: 420px; height: 250px;">
                    <p class="text-center mt-2 fw-bold fs-5">Busan</p>
                </a>
            </swiper-slide>

            <!-- Item 8 -->
            <swiper-slide>
                <a href="#" class="text-decoration-none text-black">
                    <img src="../image/suggestOverseasImg8.png" class="rounded" alt="HO CHI MINH CITY SUGGEST IMAGE" style="width: 420px; height: 250px;">
                    <p class="text-center mt-2 fw-bold fs-5">Seoul</p>
                </a>
            </swiper-slide>

        </swiper-container>

    </div>

    <!-- Suggest Available Travel Place -->

    <div class="container mt-5">

        <!-- Title -->

        <div>
            <p class="fs-3 fw-bold">Các địa điểm có sẵn! 😲</p>
        </div>

        <!-- Swiper Container -->

        <swiper-container class="travelAvailableList" loop="true">

            <!-- Item 1 -->
            <swiper-slide>
                <a href="#" class="text-decoration-none text-black">
                    <img src="../image/suggestImg1.png" class="rounded" alt="HO CHI MINH CITY SUGGEST IMAGE" style="width: 420px; height: 250px;">
                    <p class="text-center mt-2 fw-bold fs-5" style="margin-bottom: 0;">Hồ Chí Minh</p>
                    <p class="text-center text-secondary">Lorem ipsum dolor sit amet.</p>
                </a>
            </swiper-slide>

            <!-- Item 2 -->
            <swiper-slide>
                <a href="#" class="text-decoration-none text-black">
                    <img src="../image/suggestImg1.png" class="rounded" alt="HO CHI MINH CITY SUGGEST IMAGE" style="width: 420px; height: 250px;">
                    <p class="text-center mt-2 fw-bold fs-5" style="margin-bottom: 0;">Hồ Chí Minh</p>
                    <p class="text-center text-secondary">Lorem ipsum dolor sit amet.</p>
                </a>
            </swiper-slide>

            <!-- Item 3 -->
            <swiper-slide>
                <a href="#" class="text-decoration-none text-black">
                    <img src="../image/suggestImg1.png" class="rounded" alt="HO CHI MINH CITY SUGGEST IMAGE" style="width: 420px; height: 250px;">
                    <p class="text-center mt-2 fw-bold fs-5" style="margin-bottom: 0;">Hồ Chí Minh</p>
                    <p class="text-center text-secondary">Lorem ipsum dolor sit amet.</p>
                </a>
            </swiper-slide>

            <!-- Item 4 -->
            <swiper-slide>
                <a href="#" class="text-decoration-none text-black">
                    <img src="../image/suggestImg1.png" class="rounded" alt="HO CHI MINH CITY SUGGEST IMAGE" style="width: 420px; height: 250px;">
                    <p class="text-center mt-2 fw-bold fs-5" style="margin-bottom: 0;">Hồ Chí Minh</p>
                    <p class="text-center text-secondary">Lorem ipsum dolor sit amet.</p>
                </a>
            </swiper-slide>

            <!-- Item 5 -->
            <swiper-slide>
                <a href="#" class="text-decoration-none text-black">
                    <img src="../image/suggestImg1.png" class="rounded" alt="HO CHI MINH CITY SUGGEST IMAGE" style="width: 420px; height: 250px;">
                    <p class="text-center mt-2 fw-bold fs-5" style="margin-bottom: 0;">Hồ Chí Minh</p>
                    <p class="text-center text-secondary">Lorem ipsum dolor sit amet.</p>
                </a>
            </swiper-slide>

        </swiper-container>

    </div>

    <!-- Footer -->

    <footer class="bg-dark my-5 py-3">
      <div class="container d-flex justify-content-between">
        <!-- Title (Item 1) -->
        <div class="d-inline-block">
          <a href="main.html" class="text-center" style="text-decoration: none">
            <h1 class="text-white fs-3 fw-bold">TB BOOKING</h1>
          </a>
        </div>

        <!-- Uptime (Item 2) -->
        <div class="d-inline-block">
          <h1 class="text-white fs-3 fw-bold">TIME SUPPORT</h1>
          <p class="text-white fs-5">From 8:00 - 21:00</p>
          <p class="text-white fs-5">Everyday in week.</p>
        </div>

        <!-- Contact (Item 3) -->
        <div class="d-inline-block">
          <h1 class="text-white fs-3 fw-bold">CONTACT</h1>
          <ul class="fs-5 ps-0">
            <li style="list-style: none">
              <a
                href="https://www.facebook.com/"
                class="text-white"
                style="text-decoration: none"
                >Messenger</a
              >
            </li>
            <li style="list-style: none">
              <a
                href="https://id.zalo.me/account?continue=https%3A%2F%2Fchat.zalo.me%2F"
                class="text-white"
                style="text-decoration: none"
                >Zalo</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <!-- Swiper Responsive -->

    <!-- <script>

        // swiper element
        const swiperEl = document.querySelector(".travelInCountryList");

        // swiper parameters
        const swiperParams = {
        slidesPerView: 5,
        breakpoints: {
          300: {
            slidesPerView: 1,
          },
          768: {
            slidesPerView: 2,
            spaceBetween: 10,
          },
          950: {
            slidesPerView: 3,
            spaceBetween: 15,
          },
          1024: {
            slidesPerView: 6,
            spaceBetween: 10,
          },
        },
      };

    </script> -->

    <!-- Link Bootstrap -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>

    <!-- Link Swiper -->

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

    <!-- Link js -->
    <script src="../scr/clientMain.js"></script>
    <script src="../scr/firebase-config.js"></script>
    <script src="../scr/clientMain.js"></script>
    
  </body>
</html>
